# Dossiers de build
[Ll]ibrary/
[Tt]emp/
[Oo]bj/
[Bb]uild/
[Bb]uilds/
[Ll]ogs/
MemoryCaptures/

# Fichiers utilisateurs et config éditeurs
UserSettings/
.vscode/
.vs/

# Fichiers de projet inutiles
*.csproj
*.unityproj
*.sln
*.user
*.pidb
*.booproj
*.svd
*.pdb
*.suo
*.opendb
*.VC.db
*.VC.opendb
*.ilk
*.cache
*.log
*.tlog
*.exe
*.dll
*.tmp
